<div>
  <mat-form-field class="example-full-width">
    <input type="text" matInput [formControl]="nameValidator" placeholder="Name*" [(ngModel)]="data.name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Surname" [(ngModel)]="data.surname">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="number" min="0" max="100" matInput placeholder="Age*" [(ngModel)]="data.age"
      [formControl]="ageValidator">
    <mat-error *ngIf="ageValidator.invalid">{{getAgeErrorMessage()}}</mat-error>
  </mat-form-field>

  <span *ngIf="carCtrl.value">Car number : {{carCtrl.value.number}}</span>

  <button *ngIf="carCtrl.value" (click)="onDeleteCar()" class="mat-button delete-car-button" type="submit">
    <i class="fa fa-trash fa-lg"></i>
  </button>

  <mat-form-field class="example-full-width">
    <mat-select [formControl]="carCtrl" placeholder="Car" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [placeholderLabel]="'Find car...'" [noEntriesFoundLabel]="'no matching car found'"
          [formControl]="carFilterCtrl"></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let car of filteredCars | async" [value]="car">
        {{car.number}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button [disabled]="(ageValidator.invalid || nameValidator.invalid)" [mat-dialog-close]="data"
    class="save-button" color="primary">Save</button>
  <button mat-raised-button (click)="onCancelClick()">Cancel</button>
</div>