<div>
    <mat-form-field class="example-full-width">
        <input type="text" matInput placeholder="Number" [(ngModel)]="data.number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input type="color" matInput placeholder="Color"
            [(ngModel)]="data.color">
    </mat-form-field>

    <button mat-raised-button [mat-dialog-close]="data" class="save-button" color="primary">Save</button>
    <button mat-raised-button (click)="onNoClick()" >Cancel</button>
</div>


<!-- <div class="main">
  <div class="form-group">
    <label for="carNumberInput">Car Number</label>
    <input
      [(ngModel)]="carCopy.number"
      type="text"
      class="form-control"
      id="carNumberInput"
      placeholder="Enter Number"
    />
  </div>

  <div class="form-group">
    <label for="colorInput">Color</label>
    <input
      type="text"
      [(ngModel)]="carCopy.color"
      class="form-control"
      id="colorInput"
      placeholder="Enter Color"
    />
  </div>

  <button type="button" (click)="save()" class="btn btn-primary">Save</button>
  <button type="button" (click)="close()" class="btn btn-danger">Cancel</button>
</div> -->
