<div class="main">
  
  <div class="form-group">
    <label for="carNumberInput">Car Number</label>
    <input
      [(ngModel)]="carCopy.number"
      type="text"
      class="form-control"
      id="carNumberInput"
      placeholder="Enter Number"
    />
  </div>

  <div class="form-group">
    <label for="colorInput">Color</label>
    <input
      type="text"
      [(ngModel)]="carCopy.color"
      class="form-control"
      id="colorInput"
      placeholder="Enter Color"
    />
  </div>

  <button type="button" (click)="save()" class="btn btn-primary">Save</button>
  <button type="button" (click)="close()" class="btn btn-danger">Cancel</button>
</div>
