<div>
  <mat-form-field class="example-full-width">
    <input type="text"  matInput placeholder="Number*" [formControl]="numberValidator" [(ngModel)]="data.number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="color" matInput placeholder="Color" [(ngModel)]="data.color">
  </mat-form-field>

  <button mat-raised-button [mat-dialog-close]="data" [disabled]="(numberValidator.invalid)" class="save-button" color="primary">Save</button>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>