span {
  margin-left: 10px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
table {
  width: 100%;
}
.button-col {
  display: flex;
  justify-content: flex-end;
}
.mat-column-button {
  flex: 0 0 100px !important;
}

